.ruleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ruleTitle {
    size: 6rem;
    color: red
}

.ruleText {
    COLOR: black;
}

.exampleImg {
    width: 100%;
}