.App {
  text-align: center;
}

.bingoContainer {
  display: flex;
  align-items: center;
  flex-direction: column}

.rowOne {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.bingoSquares {
  height: 12rem;
  width: 12rem;
  background-color: blue;
  border-radius: 2rem;
  transition: ease-in-out 0.5s;
}

.bingoSquares:hover {
  background-color: red;
}

img {
  height: 12rem;
  width: 12rem;
}