.bingoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .rowOne {
    border: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .rowTwo {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .rowThree {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  
  .unSelected {
    border: none;
    background-color: transparent;
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
    filter: grayscale(80%);
  }
  
  
  .selected {
    border: none;
    background-color: transparent;
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
    transition: ease-in-out 0.5s;
    filter: grayscale(0%)
  }
  
  .bingoSquareImg {
    border: none;
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
  }

  @media only screen and (max-width: 1100px) {
    .bingoContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10rem;
    }
  .unSelected {
    border: none;
    background-color: transparent;
    height: 6rem;
    width: 6rem;
    border-radius: 2rem;
    filter: grayscale(80%);
  }
  
  .selected {
    border: none;
    background-color: transparent;
    height: 6rem;
    width: 6rem;
    border-radius: 2rem;
    transition: ease-in-out 0.5s;
    filter: grayscale(0%)
  }
    .bingoSquareImg {
      border: none;
      height: 5rem;
      width: 5rem;
      filter: grayscale(80%);
      border-radius: 0.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .bingoContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10rem;
    }
    .unSelected {
      border: none;
      background-color: transparent;
      height: 3rem;
      width: 3rem;
      border-radius: 2rem;
      filter: grayscale(80%);
    }
    
    .selected {
      border: none;
      background-color: transparent;
      height: 3rem;
      width: 3rem;
      border-radius: 2rem;
      transition: ease-in-out 0.5s;
      filter: grayscale(0%)
    }

    .bingoSquareImg {
      border: none;
      height: 3.5rem;
      width: 3.5rem;
      filter: grayscale(80%);
      border-radius: 0.5rem;
    }
  }