.bingoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .rowOne {
    border: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .rowTwo {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .rowThree {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  
  img {
    border: none;
    /* background-color: transparent; */
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
    /* filter: grayscale(80%); */
    cursor: pointer;
  }
  
  .bingoBtn {
    border: none;
    background-color: transparent;
  }

  @media only screen and (max-width: 1100px) {
    .bingoContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10rem;
    }
  img {
    border: none;
    background-color: transparent;
    height: 6rem;
    width: 6rem;
    border-radius: 2rem;
    /* filter: grayscale(80%); */
  }
}
  
  @media only screen and (max-width: 600px) {
    .bingoContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10rem;
    }
    img {
      border: none;
      background-color: transparent;
      height: 3rem;
      width: 3rem;
      border-radius: 2rem;
      /* filter: grayscale(80%); */
    }
    
  }

.sq {
  border: none;
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.inactive {
  filter: grayscale(100%);
}

.active {
  filter: grayscale(0%);

}